body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}


html, body, div, p, ul, li, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: right;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-decoration:none;
}

.nav {
  background: ;
  height: 60px; 
}


.nav li {
  display: inline-block;
  list-style: none;
  height: 60px; 
  line-height: 60px; 
  padding: 0 40px; 
  text-decoration:none;
  
}


.nav li:hover {
  background: red;
  transition: background .3s;
}

/
.nav-link a {
  color: black;
  text-decoration: none;
}

.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: 
	linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.dream-area{
    background-image: url("images/dream-bg.png");
           background-repeat: no-repeat;
    background-position: 
	right;
}
.single-experience{
    box-shadow: 10px 10px 40px
	gray;
    border-radius: 5px;
	
	
    height: 80%;
	
	
    background-color: white;
}
.experience-area{
    background-image: 
	url("images/exp-bg.png");
    background-repeat: 
	
	no-repeat;
    background-position: 
	
	left;
}




#full-stack{
    border-left: 7px solid; border-image: linear-gradient(180deg, lightSalmon, tomato);border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;border-image: linear-gradient(180deg, blue, cyan);border-image-slice: 1;
}

    * { 
        box-sizing: border-box; 
    } 
     
 
    .container { 
        max-width: 1200px; 
        margin: auto; 
    } 
      
    h1 { 
        color: green; 
    } 
      

    a { 
        text-decoration: none; 
        color: #5673C8; 
    } 
      
    a:hover { 
        color: lightblue; 
    } 
      
    p { 
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        -webkit-line-clamp: 4; 
        overflow: hidden; 
 
    } 
      
    .row { 
        margin: 0px -18px; 
        padding: 8px; 
    } 
      
    .row > .column { 
        padding: 6px; 
    } 
      
    .column { 
        float: left; 
        width: 25%; 
    } 
      
    .row:after { 
        content: ""; 
        display: table; 
        clear: both; 
    } 
      
    .content { 
        background-color: white; 
        padding: 10px; 
        border: 1px solid gray; 
    } 
      
	 


footer p{
    text-align: center;font-size: 12px;
}


.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	width: 3.6rem;
}

.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}


.icon-button i {
	background: none;
	color: black;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}

